.places {
  position: fixed;
  z-index: 2;
  top: 55px;
  left: 20px;
  width: 200px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.place-item,
.no-results {
  background-color: #fff;
  padding: 5px 0 5px 0;
  font-size: 14px;
  color: rgb(252, 0, 126);
  border-radius: 50px;
  margin-bottom: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
}
.no-results {
  color: #999;
}

.place-item:hover {
  background-color: rgb(252, 0, 126);
  color: #fff;
}
